.work-fields{
    background-color: var(--darkColor);
}
.custom-li {
  position: relative;
  padding-right: 30px;

}

.custom-li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--primaryColor);
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 2px;
}

.single-services-box {
    z-index: 1;
    padding: 20px;
    margin-bottom: 10px;
    transition:all var(--transition);
    color: var(--whiteColor);
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--lightColor);
        transition: .7s;
        z-index: -1;
        transform: scaleX(0);
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--lightColor);
        transition: .7s;
        z-index: -1;
        transform: scaleY(0);
    }
    .icon {
        color: var(--primaryColor);
        font-size: 50px;
        margin: {
            bottom: 10px;
            top: -10px;
        };
    }
    h3 {
        margin-bottom: 15px;
        font: {
            size: 22px;
            weight: 700;
        }
    }
    &:hover {
        color: var(--blackColor);
        &::after {
            transform: scaleX(1);
        }
        &::before {
            transform: scaleY(1);
        }
    }
    &.style-two {
        margin-bottom: 30px;
        padding: 30px;
        
        &::after {
            transform: scaleX(1);
        }
        &::before {
            transform: scaleY(1);
        }
    }
}
