.work-fields{
    background-color: var(--darkColor);
}
.custom-li {
  position: relative;
  padding-right: 30px;
}

.custom-li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--primaryColor);
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 2px;
}

.single-services-box {
    z-index: 1;
    padding: 20px;
    margin-bottom: 10px;
    transition:all var(--transition);
    color: var(--whiteColor);
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--lightColor);
        transition: .7s;
        z-index: -1;
        transform: scaleX(0);
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--lightColor);
        transition: .7s;
        z-index: -1;
        transform: scaleY(0);
    }
    .icon {
        color: var(--primaryColor);
        font-size: 50px;
        margin: {
            bottom: 10px;
            top: -10px;
        };
    }
    h3 {
        margin-bottom: 15px;
        font: {
            size: 22px;
            weight: 700;
        }
    }
    &:hover {
        color: var(--blackColor);
        button{
            background-color: var(--primaryColor);
        }
        &::after {
            transform: scaleX(1);
        }
        &::before {
            transform: scaleY(1);
        }
    }
    &.style-two {
        margin-bottom: 30px;
        padding: 30px;
        
        &::after {
            transform: scaleX(1);
        }
        &::before {
            transform: scaleY(1);
        }
    }
}
/* Max width 767px */
// @media only screen and (max-width: 767px) {

//     .single-services-box {
//         text-align: center;
//         margin-bottom: 30px;
//         padding: 0;

//         &::before, &::after {
//             display: none;
//         }
//         .icon {
//             font-size: 35px;
//             margin: {
//                 top: -8px;
//             };
//         }
//         h3 {
//             font-size: 18px;
//             margin-bottom: 13px;
//         }
//         p {
//             font-size: 13.5px;
//             margin-bottom: 10px;
//         }
//         .read-more-btn {
//             font-size: 14px;
//         }
//         &.style-two {
//             padding: 20px;
//         }
//     }
//     .services-box {
//         padding: 65px 20px 20px;

//         h3 {
//             font-size: 18px;
//         }
//         p {
//             font-size: 13.5px;
//         }
//     }

// }

// /* Min width 576px to Max width 767px */
// @media only screen and (min-width: 576px) and (max-width: 767px) {

//     .services-box {
//         padding: {
//             left: 15px;
//             right: 15px;
//         };
//     }

// }

// /* Min width 768px to Max width 991px */
// @media only screen and (min-width: 768px) and (max-width: 991px) {

//     .single-services-box {
//         .icon {
//             font-size: 40px;
//             margin-top: -9px;
//         }
//         h3 {
//             margin-bottom: 13px;
//             font-size: 20px;
//         }
//         p {
//             font-size: 14px;
//         }
//         &.style-two {
//             padding: 25px;
//         }
//     }
//     .services-box {
//         padding: 65px 25px 25px;

//         h3 {
//             font-size: 20px;
//         }
//         p {
//             font-size: 14px;
//         }
//     }

// }

// /* Min width 992px to Max width 1199px */
// @media only screen and (min-width: 992px) and (max-width: 1199px) {

//     .services-area {
//         .col-lg-4 {
//             flex: 0 0 50%;
//             max-width: 50%;
//         }
//     }
//     .services-area-two {
//         .col-lg-4 {
//             flex: 0 0 50%;
//             max-width: 50%;
//         }
//     }

// }

// /* Min width 1550px */
// @media only screen and (min-width: 1550px) {}