.projects-area {
    position: relative;
    z-index: 1;
}
.single-projects-box {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    img {
        transition: var(--transition);
    }
    .content {
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        padding: 30px;
        position: absolute;
        background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, .65) 100%);

        .inner {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            padding: 30px;

            h3 {
                margin-bottom: 8px;
                color: var(--whiteColor);
                text-transform: uppercase;
                font: {
                    size: 22px;
                    weight: 400;
                };
                a {
                    color: var(--whiteColor);
                    display: inline-block;

                    &:hover {
                        color: var(--primaryColor);
                    }
                }
            }
            .category {
                display: inline-block;
                color: var(--primaryColor);
                text-transform: uppercase;
                font: {
                    size: 18px;
                    weight: 400;
                };
            }
        }
        .date {
            position: absolute;
            right: -100%;
            top: 20px;
            background-color: var(--whiteColor);
            color: var(--blackColor);
            padding: 5px 10px 6px;
            transition: var(--transition);
            visibility: hidden;
            font: {
                style: italic;
                family: var(--fontFamily2);
                size: 17px;
                weight: 600;
            };
        }
    }
    &:hover {
        img {
            transform: rotate(5deg) scale(1.2);
        }
        .content {
            .date {
                visibility: visible;
                right: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-projects-box {
        .content {
            padding: 15px;

            .inner {
                padding: 15px;

                h3 {
                    font-size: 17px;
                }
                .category {
                    font-size: 13px;
                }
            }
        }
    }

}

