nav {
  background-color: var(--lightColor);
  border-bottom: 0.1px solid var(--borderColor);
  color: var(--darkColor);
  .logo-item {
    border-right: 0.1px solid var(--borderColor);
    padding-right: 10px;
  }
}
nav.nav-scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--lightColor);
}

.icon-sidebar {
  background-color: var(--darkColor);
  border-radius: 3px;
  color: var(--lightColor);
  cursor: pointer;
}
.social-icons{
  display: flex;
}
.social-icons-sidebar{
  display: none;
}
ul {
  display: flex;
  transition: left 0.4s ease;
  .sidebar-social, .sidebar-tel {
    display: none;
  }
  li {
    transition: color var(--transition) ease;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    padding-bottom: 5px;
    &::after{
      content: '';
      background-color: var(--primaryColor);
      width: 100%;
      height: 4px;
      position: absolute;
      top: 100%;
      left: 0px;
      transform: translateY(5px);
      opacity: 0;
      visibility: hidden;
      transition: all var(--transition);
    }
    &:hover::after{
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
    &:hover{
      color: var(--primaryColor);
    }
  }
}
ul li.active-link{
  color: var(--primaryColor);
  &::after{
     opacity: 1;
      visibility: visible;
      transform: translateY(0px);
  }
}
@media screen and (max-width: 1024px) {
  ul {
    width: 35%;
    border-top: 1px solid var(--borderColor);
    background-color: var(--lightColor);
    color: var(--darkColor);
    display: block;
    position: absolute;
    height: 100vh;
    top: 100%;
    left: -100%;
    text-align: center;
    padding-top: 5% 0;
    z-index: 9999;

    &.sidebar-open {
      left: 0 !important;
    }

    li {
      padding: 5% 0;
    }

    .sidebar-social,
    .sidebar-tel {
      display: flex;
      justify-content: center;
    }
    .sidebar-social{
         i {
        transition: color var(--transition) ease;
        color: gray;
        &:hover {
          color: var(--primaryColor);
        }
      }
    }
  }
}
@media screen and (max-width: 870px) {
    ul{
        width: 50%;
    }
    .social-icons{
  display: none;
}
.social-icons-sidebar{
  display: flex;
  justify-content: center;
}
}
@media screen and (max-width: 550px) {
    ul{
        width: 80%;
    }
}
