.single-services-box {
    margin-bottom: 30px;
    cursor: pointer;
    .services-image {
        overflow: hidden;
        border-radius: 5px;
        transition: all 0.3s cubic-bezier(0.3, 0.58, 0.55, 1);
        position: relative;
        z-index: 1;
        
        img {
            border-radius: 5px;
            transition: var(--transition);
        }
        &::before, &::after {
            top: 50%;
            left: 50%;
            z-index: 2;
            opacity: 0;
            content: '';
            position: absolute;
            background-color: var(--whiteColor);
            transform: translate(-50%, -50%);
            transition: all 0.8s cubic-bezier(0.2, 1, 0.22, 1);
        }
        &::before {
            width: 60px;
            height: 2px;
            left: 100%;
        }
        &::after {
            height: 60px;
            width: 2px;
            top: 0;
        }
        .overlay {
            position: absolute;
            left: 0;
            border-radius: 5px;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: var(--darkBlueColor);
            opacity: 0.55;
            content: '';
            transition: var(--transition);
        }
        .link-btn {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            display: block;
            border-radius: 5px;
        }
    }
    h2{
        font-weight: 600;
    }
    &:hover {
        .services-image {
            &::before, &::after {
                opacity: 1;
                top: 50%;
                left: 50%;
            }
            img {
                transform: scale(1.2) rotate(4deg);
            }
            .overlay {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}
/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-services-box {
        .services-image {
            img {
                width: 100%;
            }
        }
        .services-content {
            h3 {
                margin-bottom: 9px;
                font-size: 18px;
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-services-box {
        .services-content {
            h3 {
                font-size: 20px;
            }
        }
    }

}
